@model TutorLiveMentor.Models.Student

<h2>Edit Profile</h2>
@using (Html.BeginForm("Edit", "Student", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Password)
    @Html.HiddenFor(m => m.RegdNumber)
    @Html.HiddenFor(m => m.Email)

    <label>Full Name</label>
    @Html.TextBoxFor(m => m.FullName, new { @required = "required" })
    @Html.ValidationMessageFor(m => m.FullName)
    <br />

    <label>Regd Number</label>
    @Html.TextBoxFor(m => m.RegdNumber, new { @readonly = "readonly" })
    <br />

    <label>Year</label>
    @Html.TextBoxFor(m => m.Year, new { @required = "required" })
    @Html.ValidationMessageFor(m => m.Year)
    <br />

    <label>Department</label>
    @Html.TextBoxFor(m => m.Department, new { @required = "required" })
    @Html.ValidationMessageFor(m => m.Department)
    <br />

    <label>Email</label>
    @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly" })
    <br />

    <button type="submit">Save</button>
    <a href="/Student/Dashboard"><button type="button">Cancel</button></a>
}
